body {
  margin: 0;
  font-family: sans-serif;
  padding: 20px;
}
textarea {
  width: 100%;
  max-width: 400px;
  height: 250px;
  padding: 8px;
  font-size: 14px;
  margin: 10px 0;
}

.App-intro > div {
  margin-bottom: 30px;
}

a { color: grey; }
button {
  background-color: lightblue;
  border-radius: 3px;
  border: 2px solid black;
  color: black;
  margin-top: 5px;
}
